* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("assets/arvid-skywalker-ZvVNJOnV3ho-unsplash1.png");
  width: 70vw;
  height: 100%;
  background-size: cover;
  color: #fff;
}

/* Logo */
svg {
  position: absolute;
  width: 84px;
  height: 38px;
  left: 150px;
  top: 37px;
}

:focus {
  outline: 2px solid hotpink;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* flex box*/
.box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 30px;
}

/* FAQ */
.menu {
  text-decoration: none;
  color: #fff;
  padding: 5px;
  margin: 40px 10px 20px 300px;

  min-width: 23px;
  min-height: 21px;

  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

/* Контакты */
.menu2 {
  text-decoration: none;
  color: #fff;
  padding: 5px;
  margin: 40px 20px 20px 100px;
  min-width: 23px;
  min-height: 21px;

  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

/* Вход */
.enter {
  text-decoration: none;
  color: #fff;
  margin: 40px 20px 20px auto;
  min-width: 23px;
  min-height: 21px;

  font-family: "Oswald", "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
a:hover {
  color: rgb(204, 18, 18);
}

.main {
  flex: 1 1 auto;
}

/* Проверьте историю автомобиля во избежание рисков!*/
.slogan {
  width: 1180px;
  height: 156px;
  margin-left: 150px;
  margin-top: 20px;

  font-family: "PT Sans", "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 76px;
}

/* Проверить по госномеру, VIN-коду или номеру кузова */
.check {
  width: 714px;
  height: 104px;
  margin-left: 150px;
  margin-top: 10px;

  font-family: "PT Sans", "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 52px;
}

.form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* Auto layout */
#autolayout {
  padding: 15px 29px 15px 11px;
  width: 680px;
  height: 50px;
  margin-left: 150px;
  margin-right: 20px;
  margin-top: 15px;

  background: rgba(255, 255, 255, 0.6);
  border-radius: 7px;

  font-family: "PT Sans", "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;

  color: rgba(0, 0, 0, 0.6);
}
/* Кнопка*/
.checkup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 40px;
  gap: 10px;

  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-top: 15px;

  background: #000f20;
  border-radius: 7px;

  font-family: "Source Sans 3", "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;

  color: #fff;
}

.checkup:active {
  color: rgb(11, 18, 121);
  background-color: rgb(98, 170, 15);
}

/* container flex*/
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

/* ДТП */
.menu3 {
  text-decoration: none;
  color: #fff;
  margin: 30px 5px 20px 150px;

  width: auto;
  height: 21px;
  flex: 0 1 auto;

  font-family: "PT Sans", "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}
/* Розыск */
.menu4 {
  text-decoration: none;
  color: #fff;
  margin: 30px 5px 20px 155px;
  width: auto;
  height: 21px;
  flex: 0 1 auto;

  font-family: "PT Sans", "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}
/* Обременения */
.menu5 {
  text-decoration: none;
  color: #fff;
  margin: 30px 20px 20px 180px;
  width: auto;
  height: 21px;
  flex: 0 1 auto;

  font-family: "PT Sans", "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}
/* Тех. обслуживание */
.menu6 {
  text-decoration: none;
  color: #fff;
  margin: 30px 20px 20px 200px;
  width: auto;
  height: 21px;
  flex: 0 1 auto;

  font-family: "PT Sans", "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}
/* ИСПОЛЬЗОВАНИЕ В ТАКСИ */
.menu7 {
  text-decoration: none;
  color: #fff;
  margin: 30px 20px 20px 220px;
  width: auto;
  height: 21px;
  flex: 0 1 auto;

  font-family: "PT Sans", "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}
